@charset "UTF-8";

table {
	width: 100%;
	border-collapse: collapse;
}

thead,
tbody,
tfoot,
tr,
td,
th{
	text-align: center;
}

#question_content {
	resize: none;
}
.questionWrite{
	background-color: orange;
	color: white;
	border-radius: 10px;
}

/*-----------------------------------------------------------------------

 								PC 
 								
 ------------------------------------------------------------------------*/
@media (min-width : 767.9999px) {

#content {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

#content h4 {
    width: 75% !important;
    margin: 5% 0;
}

#content form > #question_table {
	width: 80%;
	margin: 0 auto;
}

#content form > #question_table label{
	float: left;
}

#question_table  #question_title {
	width: 100%;
}

#question_table  #receiver {
	width: 100%;
}

#question_table  #question_content {
	width: 100%;
	height: 100%;
}

.question_btn {
	text-align: center;
	margin: 5% 0;
}

.question_btn button {
	width: 30%;
	margin: 0 5%;
}

.question_btn .question_receive {
	border: none;
	border-radius: 5%;
	background-color: brown;
	color: #fff;
}

.question_btn > .question_list {
	border: none;
	border-radius: 5%;
	background-color: chocolate;
	color: #fff;
}
.filte_set{
	float: left;
}

}

/*-----------------------------------------------------------------------

 								tablet 
 								
 ------------------------------------------------------------------------*/
@media (max-width : 767.9998px) {

#content {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

#content h4 {
    width: 75% !important;
    margin: 5% 0;
}

#content form > #question_table {
	width: 100%;
	margin: 0 auto;
}

#content form > #question_table label{
	float: left;
}

#question_table #question_title {
	width: 100%;
}

#question_table #receiver {
	width: 100%;
}

#question_table #question_content {
	width: 100%;
	height: 100%;
}

.question_btn {
	text-align: center;
	margin: 5% 0;
}

.question_btn button {
	width: 35%;
	margin: 0 5%;
}

.question_btn .question_receive {
	border: none;
	border-radius: 5%;
	background-color: brown;
	color: #fff;
}

.question_btn > .question_list {
	border: none;
	border-radius: 5%;
	background-color: orange;
	color: #fff;
}

}
/*-----------------------------------------------------------------------

 								mobile 
 								
 ------------------------------------------------------------------------*/
@media (max-width : 425.9998px) {

#content {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#content h4 {
    width: 75% !important;
    margin: 5% 0;
}

#content form > #question_table {
	width: 100%;
	margin: 0 auto;
}

#content form > #question_table label{
	float: left;
}

#question_table input{
	width: 100%;
}

#question_table #question_title {
	width: 100%;
}

#question_table #receiver {
	width: 100%;
}

#question_table #question_content {
	width: 100%;
	height: 100%;
}

.question_btn {
	text-align: center;
	margin: 5% 0;
}

.question_btn button {
	width: 35%;
	margin: 0 5%;
}

.question_btn .question_receive {
	border: none;
	border-radius: 5%;
	background-color: brown;
	color: #fff;
}

.question_btn > .question_list {
	border: none;
	border-radius: 5%;
	background-color: orange;
	color: #fff;
}

}