@charset "UTF-8";

table {
	width: 100%;
	border-collapse: collapse;
}

/* thead, */
/* tbody, */
/* tfoot, */
/* tr, */
/* td, */
/* th{ */
/* 	border-width:1px !important; */
/* 	text-align: center; */
/* } */

/*-----------------------------------------------------------------------

 								PC 
 								
 ------------------------------------------------------------------------*/
@media (min-width : 767.9999px) {

#content {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

#content h4 {
    width: 25% !important;
    margin-bottom: 5%;
    margin: 5% 15%;
}

#content > .faq_table {
	margin: 0 auto;
	width: 70%;
}

.faq_table label {
	float: left;
}

#content input.faq_title {
	width: 100%;
}

#content .faq_answer {
	width: 100%;
	resize: none;
	height: 100%;
}

.faq_btn {
	text-align: center;
	margin: 5% 0;
}

.faq_btn button {
	margin: 0 3%;
	width: 25%;
}

.faq_btn .faq_register {
	background-color: brown;
	color: #fff;
	border: none;
	border-radius: 5%;
}

.faq_btn .faq_list {
	background-color: orange;
	color: #fff;
	border: none;
	border-radius: 5%;
}

}

/*-----------------------------------------------------------------------

 								tablet 
 								
 ------------------------------------------------------------------------*/
@media (max-width : 767.9998px) {

#content {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

#content h4 {
    width: 90% !important;
    margin-bottom: 5%;
    margin: 5% 10%;
}

#content > .faq_table {
	margin: 0 auto;
	width: 80%;
}

.faq_table label {
	float: left;
}

#content input.faq_title {
	width: 100%;
}

#content .faq_answer {
	width: 100%;
	resize: none;
	height: 100%;
}

.faq_btn {
	text-align: center;
	margin: 5% 0;
}

.faq_btn button {
	margin: 0 3%;
	width: 30%;
}

.faq_btn .faq_register {
	background-color: brown;
	color: #fff;
	border: none;
	border-radius: 5%;
}

.faq_btn .faq_list {
	background-color: orange;
	color: #fff;
	border: none;
	border-radius: 5%;
}

}
/*-----------------------------------------------------------------------

 								mobile 
 								
 ------------------------------------------------------------------------*/
@media (max-width : 425.9998px) {

#content {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#content h4 {
    width: 90% !important;
    margin-bottom: 5%;
    margin: 5% 0;
}

#content > .faq_table {
	margin: 0 auto;
	width: 100%;
}

.faq_table label {
	float: left;
}

#content input.faq_title {
	width: 100%;
}

#content .faq_answer {
	width: 100%;
	resize: none;
	height: 100%;
}

.faq_btn {
	text-align: center;
	margin: 5% 0;
}

.faq_btn button {
	margin: 0 3%;
	width: 40%;
}

.faq_btn .faq_register {
	background-color: brown;
	color: #fff;
	border: none;
	border-radius: 5%;
}

.faq_btn .faq_list {
	background-color: orange;
	color: #fff;
	border: none;
	border-radius: 5%;
}

}