@charset "UTF-8";
.card-img-top{
	height: 300px;
	width: 90% !important;
}

.btn-primary {
    border: none !important;
    border-radius: 5%;
    color: #fff;
    background-color: brown !important;
}

.card-text {
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1.2em;
    height: 3.6em;
}

/*-----------------------------------------------------------------------

 								PC 
 								
 ------------------------------------------------------------------------*/
@media (min-width : 767.9999px) {

}

/*-----------------------------------------------------------------------

 								tablet 
 								
 ------------------------------------------------------------------------*/
@media (min-width : 426px) and (max-width : 767.9998px) {

.store-card {
	width: 40% !important;
	float: left;
	margin: 0 5%;
}
.card-img-top{
	height: 300px;
	width: 100% !important;
}
}
/*-----------------------------------------------------------------------

 								mobile 
 								
 ------------------------------------------------------------------------*/
@media (max-width : 425.9998px) {

.store_content {
	margin: 0 auto !important;
}
	
.store-card {
	width: 100% !important;
}
.card-img-top{
	height: 300px;
	width: 100% !important;
}
}