<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.reservation">
	<insert id="insert" parameterType="com.web.f5.vo.ReservationVO">
		insert into reservation values('rez_'||sequ_reservation.nextval,#{storeIdx},#{memberId},#{reservationCount},sysdate,#{reservationTime},#{reservationTimeDate})
	</insert>
	<select id="getCuCount" parameterType="map" resultType="java.lang.String">
		select sum(reservationCount) 
		from (select reservationCount,reservationTime,reservationTimeDate from reservation where storeIdx = #{storeIdx}) 
		where reservationTime = #{rTime} and reservationTimeDate = #{rDate}
	</select>
	<select id="getTNumber" parameterType="map" resultType="int">
		select count(*) 
		from (select reservationCount,reservationTime,reservationTimeDate from reservation where storeIdx = #{storeIdx}) 
		where reservationTime = #{rTime} and reservationTimeDate = #{rDate}
	</select>
	<select id="selectList" parameterType="java.lang.String" resultType="com.web.f5.vo.ReservationVO">
		select a.reservationIdx, a.storeIdx, a.memberId, a.reservationcount,a.reservationdate,a.reservationTime,a.reservationtimedate,b.storename,c.sufile1 from reservation a 
		inner join store b
		on a.storeIdx = b.storeIdx
		inner join storefile c
		on a.storeIdx= c.storeIdx
		where a.memberId = #{memberId}
	</select>
</mapper>