<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.review">
	<select id="selectlist" parameterType="map" resultType="com.web.f5.vo.ReviewVO">
        select rno,reviewIdx,storeIdx,memberId,reviewContent,reviewScore
		from (select 
			rownum rno,reviewIdx,storeIdx,memberId,reviewContent,reviewScore
		 from (select
			 reviewIdx,storeIdx,memberId,reviewContent,reviewScore from review
             where storeIdx = #{storeIdx}
             order by reviewIdx desc
             ))
		 where rno between #{start} and #{end}
	</select>
	<insert id="insert" parameterType="com.web.f5.vo.ReviewVO">
			insert into review
				values('r_'||sequ_review.nextval,#{storeIdx},#{memberId},#{reviewContent},#{reviewScore})
	</insert>
	<delete id="delete" parameterType="java.lang.String">
		delete from review where reviewIdx = #{reviewIdx}
	</delete>
	<update id="update" parameterType="map">
		update review set reviewContent = #{reviewContent},reviewScore = #{reviewScore} where reviewIdx=#{reviewIdx}
	</update>
	<select id="myselectlist" parameterType="map" resultType="com.web.f5.vo.ReviewVO">
		select rno,reviewIdx,storeIdx,memberId,reviewContent,reviewScore
		from (select 
			rownum rno,reviewIdx,storeIdx,memberId,reviewContent,reviewScore
		 from (select
			 reviewIdx,storeIdx,memberId,reviewContent,reviewScore from review
			 where memberId = #{memberId} and storeIdx = #{storeIdx}
             order by reviewIdx desc
             ))
		 where rno between 1 and #{end}
	</select>
	<select id="getAverageScore" parameterType="java.lang.String" resultType="float">
		select avg(nvl(reviewScore,0)) from review where storeIdx = #{storeIdx}
	</select>
	<select id="selectList" parameterType="java.lang.String" resultType="com.web.f5.vo.ReviewVO">
		select a.reviewidx, a.storeIdx, a.memberId, a.reviewContent, a.reviewScore, b.storeName from review a
		inner join store b
		on a.storeIdx = b.storeIdx
		where a.memberId = #{memberId}
	</select>
</mapper>  
